<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidfinal">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFinal">
        <activity
            android:name=".DetailBillActivity"
            android:parentActivityName=".ListBillActivity" />
        <activity
            android:name=".ListBillActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditCategoryActivity"
            android:parentActivityName=".ListCategoryActivity" />
        <activity
            android:name=".AddBillActivity"
            android:parentActivityName=".ListBillActivity" />
        <activity
            android:name=".EditBookActivity"
            android:parentActivityName=".ListBookActivity" />
        <activity
            android:name=".DetailUserActivity"
            android:parentActivityName=".ListUserActivity" />
        <activity
            android:name=".EditUserActivity"
            android:parentActivityName=".ListUserActivity" />
        <activity android:name=".BeginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaticActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailCategoryActivity"
            android:parentActivityName=".ListCategoryActivity" />
        <activity
            android:name=".AddCategoryActivity"
            android:parentActivityName=".ListCategoryActivity" />
        <activity
            android:name=".ListCategoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddUserActivity"
            android:parentActivityName=".ListUserActivity" />
        <activity
            android:name=".DetailBookActivity"
            android:parentActivityName=".ListBookActivity" />
        <activity
            android:name=".AddBookActivity"
            android:parentActivityName=".ListBookActivity" />
        <activity
            android:name=".ListBookActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListUserActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".BeginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>